! ===============================
!       urxvt
! ===============================
URxvt.letterSpace:      -1
URxvt.lineSpace:				1
URxvt.geometry:					120x50
URxvt.internalBorder:   12
URxvt.cursorBlink:      true 
URxvt.cursorUnderline:  true
URxvt.scrollBar:        false
URxvt.scrollBar_right:  false
URxvt.urgentOnBell:     false
URxvt.depth:            24
URxvt*utf8:	            true
URxvt.iso14755:         false
URxvt.iso14755_52:      false

! URxvt*font:            		xft:Iosevka Mayukai Monolite:style=Regular:size=12
! URxvt*boldFont:        		xft:Iosevka Mayukai Monolite:style=Bold:size=12
! URxvt*italicFont:        	xft:Iosevka Mayukai Monolite:style=Italic:size=12
! URxvt*boldItalicFont:     xft:Iosevka Mayukai Monolite:style=Bold Italic:size=12

! URxvt*font:            		xft:Hack Nerd Font Mono FC Ligatured:style=Regular:size=10
! URxvt*boldFont:        		xft:Hack Nerd Font Mono FC Ligatured:style=Bold:size=10
! URxvt*italicFont:        	xft:Hack Nerd Font Mono FC Ligatured:style=Italic:size=10
! URxvt*boldItalicFont:     xft:Hack Nerd Font Mono FC Ligatured:style=Bold Italic:size=10

URxvt*font:            		xft:Hack Nerd Font:style=Regular:size=10
URxvt*boldFont:        		xft:Hack Nerd Font:style=Bold:size=10
URxvt*italicFont:        	xft:Hack Nerd Font:style=Italic:size=10
URxvt*boldItalicFont:     xft:Hack Nerd Font:style=Bold Italic:size=10


URxvt.perl-ext-common:  default,matcher,resize-font
URxvt.url-launcher:     google-chrome-stable
URxvt.matcher.button:   2

URxvt.keysym.C-Up:      resize-font:bigger
URxvt.keysym.C-Down:    resize-font:smaller

! ===============================
! Xft
! ===============================
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          true
Xft.rgba:               subpixel
Xft.dpi:                96

!================================
! colors theme catppuccin-moccha
!================================

*background: #1E1E2E
*foreground: #CDD6F4

! black
*color0: #45475A
*color8: #585B70

! red
*color1: #F38BA8
*color9: #F38BA8

! green
*color2: #A6E3A1
*color10: #A6E3A1

! yellow
*color3: #F9E2AF
*color11: #F9E2AF

! blue
*color4: #89B4FA
*color12: #89B4FA

! magenta
*color5: #F5C2E7
*color13: #F5C2E7

! cyan
*color6: #94E2D5
*color14: #94E2D5

! white
*color7: #BAC2DE
*color15: #A6ADC8




